// _gallery.scss
$blinker-w:  122px;
$viewport-w: 976px + ($blinker-w * 2);

.loaded {
	
	.gallery {
		opacity: 1;
		transition: opacity 150ms linear;
	}
}

.gallery {
	margin: 0 -16px;
	opacity: 0;
	overflow: hidden;
	transition: opacity 150ms linear;
	
	img {
		display: block;
	}
}
	.gallery__toolbar {
		@extend .clearfix;
		border-bottom: 1px solid $keyline;
	}
		.gallery__tools {
			cursor: pointer;
			float: right;
			margin-top: 0;
			margin-bottom: 0;
			
			li {
				padding: 12px 16px;
				
				&:hover {
					background-color: #333;
				}
				.icon {
					margin-right: 4px;
				}
			}
		}
	.gallery__viewport {
		overflow: hidden;
		margin: 0 auto;
		width: $viewport-w;
	}
		.gallery__focus {
			@extend .container;
			position: relative;
		}
		.gallery__images {
			margin-top: 0;
			margin-bottom: 0;
			transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.gallery__next,
		.gallery__previous {
			background-color: transparent;
			height: 64px;
			line-height: 64px;
			position: absolute;
				top: 50%;
			transform: translateY(-50%);
			text-align: center;
			width: 64px;
			z-index: 20;
			
			&:hover {
				background-color: #333;
			}
			&.deactivated {
				background-color: transparent;
				opacity: 0.5;
				cursor: default;
			}
		}
		.gallery__next {
			right: 0;
		}
		.gallery__previous {
			left: 0;
		}

		// Blinkers
		.blinker {
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			
			height: 100%;
			position: absolute;
				top: 0; left: -$blinker-w;
			width: $blinker-w;
			z-index: 30;
		}
		.blinker--right {
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

			right: -$blinker-w; left: auto;
		}

// THUMBNAILS
.gallery__container {
	border-top: 1px solid $keyline;
	border-bottom: 1px solid $keyline;
}
.gallery__thumbs {
	margin: 0 auto;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: $viewport-w;
	z-index: 0;
	
	ul {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -8px;
		transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}		
	li {
		cursor: pointer;
		margin-left: 8px;
		
		&:hover,
		&.active {
			
			img {
				opacity: 1;
				transition: opacity 150ms linear;
			}
		}
	}
	img {
		opacity: 0.6;
		transition: opacity 150ms linear;
	}
}

// PANEL
.gallery__panel {
	@extend .container;
	@extend .clearfix;
	border-bottom: 1px solid $keyline;
}
	.panel__information {
		float: left;
		width: 650px;
	}
		.image-of {
			font-weight: bold;
		}
		.panel__caption {}
	.panel__tools {
		float: right;
		list-style: none;
		padding-left: 0;
		
		li {
			cursor: pointer;
			padding-left: 22px;
		}
	}
		.tools__share {
			background: url('../img/share-icon.png') 0 3px no-repeat;
			color: #69BB45;
		}
