// _gallery.scss

.loaded {
	
	.gallery {
		opacity: 1;
		transition: opacity 150ms linear;
	}
}

.gallery {
	opacity: 0;
	transition: opacity 150ms linear;
	
	img {
		display: block;
	}
}
	.gallery__toolbar {
		@extend .clearfix;
	}
		.gallery__tools {
			float: right;
			margin-top: 0;
			margin-bottom: 0;
			
			li {
				padding: 8px;
			}
		}
	.gallery__viewport {
		overflow: hidden;
		position: relative;
		z-index: 10;
	}
		.gallery__images {
			margin-top: 0;
			margin-bottom: 0;
			transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.gallery__next,
		.gallery__previous {
			background-color: rgba(0,0,0,0.85);
			font-size: 22px;
			height: 64px;
			line-height: 64px;
			position: absolute;
				top: 50%;
			transform: translateY(-50%);
			transition: all 150ms linear;
			text-align: center;
			width: 64px;
			z-index: 20;
			
			&:hover {
				background-color: $brand;
			}
			&.deactivated {
				background-color: rgba(0,0,0,0.85);
				opacity: 0.5;
				cursor: default;
				transition: all 150ms linear;
			}
		}
		.gallery__next {
			right: 0;
		}
		.gallery__previous {
			left: 0;
		}

// THUMBNAILS
.gallery__thumbs {
	margin-left: -16px;
	position: relative;
	transition: height 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 0;
	
	ul {
		margin-top: 0;
		margin-bottom: 0;
		transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}		
	li {
		background-color: #000;
		cursor: pointer;
		margin-top: 16px;
		margin-left: 16px;
		// width: ( (976px - (16 * 5) ) / 6 );
		
		
		&:hover,
		&.active {
			
			img {
				opacity: 1;
				transition: opacity 150ms linear;
			}
		}
	}
	img {
		opacity: 0.65;
		transition: opacity 150ms linear;
	}
}

// PANEL
.gallery__panel {
	@extend .clearfix;
}	
	.panel__information,
	.panel__tools {
		float: left;
	}
	.panel__information {
		width: 75%;
	}
		.panel__image-of {
			font-weight: bold;
		}
		.panel__caption {}
	.panel__tools {
		list-style: none;
		padding-left: 0;
		text-align: right;
		width: 25%;
	}
