// main.scss
//

$body: #000;
$brand: #C92026;
$hover: #1167A8;
$keyline: #404040;

@font-face {
	font-family: 'GELIconsFull';
	src: url('../fonts/gelnewsicons-regular-webfont.eot');
	src: url('../fonts/gelnewsicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gelnewsicons-regular-webfont.woff') format('woff'),
		 url('../fonts/gelnewsicons-regular-webfont.ttf')  format('truetype'),
		 url('../fonts/gelnewsicons-regular-webfont.svgz#GELIconsFullRegular') format('svg'),
		 url('../fonts/gelnewsicons-regular-webfont.svg#GELIconsFullRegular')  format('svg');
	font-weight: normal;
	font-style: normal;
}

// BASE
//

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {}
body {
	background-color: $body;
	color: #FFF;
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
h1 {}
h2 {
	font-size: 32px;
	margin: 12px 0;
	letter-spacing: -1px;
	
	~ p {
		margin-top: 0;
	}
}
h3 {
	font-size: 20px;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
button {
	border: none;
	outline: none;
	padding: 0;
}
.icon,
.icon__glyph {
	display: inline-block;
}
.icon {
	font-family: 'GELIconsFull';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
	.icon__glyph {
		font-size: 24px;
		vertical-align: -2px;
	}

// BODY
//
.blq {
	background-color: #FFF;
	height: 40px;
}
.masthead {
	background-color: $brand;
	height: 104px;
}
.footer {
	height: 64px; // TEMP
}

// PAGE
//
.page {
	padding: 0 16px;
}
.container {
	margin: 0 auto;
	width: 976px;
}
.header {
	@extend .container;
}
.breadcrumb {
	font-size: 20px;
}
@import 'gallery';
.share {
	@extend .container;
	margin-top: 48px;
	
	li {
		margin-right: 16px;
	}
	a {
		display: block;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		width: 230px;
	}
	.email {
		background-color: #615F5D;
	}
	.facebook {
		background-color: #3C5A98;
	}
	.twitter {
		background-color: #52C5F1;
	}
}
.more-galleries {
	@extend .container;
	margin-top: 48px;
	
	li {
		margin-right: 16px;
		width: 204px;
	}
	a {
		display: block;
	}
}

// OBJECTS
//
.nav {
	@extend .clearfix;
	
	list-style: none;
	padding-left: 0;
	
	> li {
		float: left;
	}
}

// Utility
//

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
